<div class="d-flex">
  <% jobs.forEach( job => { %>
  <div class="card bg-dark text-light p-2 m-3 mt-5" style="width: 20%;">
    <div class="card-header text-center">
      <h2><%= job.company %></h2>
    </div>
    <div class="card-body">
      <p>Job Role: <%= job.role %></p>
      <p>Location: <%= job.location %></p>
      <p>Salary: <%= job.salary %></p>
      <!-- <p></p> -->
      <p>Skills:</p>
      <% job.skills.forEach(skill => { %>
      <span class="btn btn-outline-light m-1"> <%= skill %></span>
      <% }) %>
    </div>
    <button class="btn btn-light">View details</button>
  </div>
  <% }) %>
</div>
