<% if(locals.lastVisit){ %>
  <div class="alert alert-secondary mt-3 text-center" role="alert" style="width: 30%; margin-left: 70%;">
    Your last visit was on: <%= locals.lastVisit %>
  </div>
<% } %>

<% if(jobs.length == 0){ %>
<div class="alert alert-secondary mt-5 text-center fs-2" role="alert">No Jobs to show😑</div>
<% }else{ %> 
<div class="d-flex">
  <% jobs.forEach( job => { %>
  <div class="card bg-dark text-light p-2 m-3 mt-5" style="width: 22%">
    <div class="card-header text-center">
      <h2><%= job.company %></h2>
    </div>
    <div class="card-body">
      <p>Job Role: <%= job.role %></p>
      <p>Location: <%= job.location %></p>
      <p>Salary: <%= job.salary %></p>
      <p>Vacancies: <%= job.vacancies %></p>
      <p>Apply By: <%= job.applyBy %></p>
      <!-- <p></p> -->
      <span>Skills:</span>
      <% if(typeof(job.skills) != "string"){ %> <% job.skills.forEach(skill => {
      %>
      <span class="btn btn-sm btn-outline-light m-1"> <%= skill %></span>
      <% })}else{ %>
      <span class="btn btn-sm btn-outline-light m-1"> <%= job.skills %></span>
      <% } %>
    </div>
    <a href="/jobs/<%= job.id %>" class="btn btn-light">View details</a>
  </div>
  <% }) %>
</div>
<% } %>
